.fab-bottom-left {
  position: fixed;
  left: 16px;
  bottom: 16px;
  z-index: 100;
}

.mat-card-avatar {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  position: absolute;
  right: 16px;
  z-index: 100;
}