.fab-bottom-left {
  position: fixed;
  left: 16px;
  bottom: 16px;
  z-index: 100;
}

.circle {
  cursor: pointer;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  font-size: 22px;
  color: #ffffff;
  line-height: 41px;
  text-align: center;
  position: absolute;
  right: 14px;
  background: #ff8080;
}
