<mat-form-field>
  <mat-label>Keresés név alapján</mat-label>
  <input class="full-width" matInput type="text" [(ngModel)]="name" (ngModelChange)="onNameChange()">
  <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name='';onNameChange()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<app-place-details-card *ngFor="let place of placesToShow" [place]="place"></app-place-details-card>
<app-no-data-alert *ngIf="!placesToShow||placesToShow.length===0" text="Nincs megjeleníthető szórakozóhely!">
</app-no-data-alert>
