:host {
    margin-top: 17px;
}

button {
    line-height: 44px;
    font-size: 18px;
}

::ng-deep .cdk-overlay-dark-backdrop {
    background-color: rgba(0, 0, 0, 0);
}

div {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
}
