/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.align-to-center {
    overflow: hidden;
    text-align: center;
}

.buttons {
    position: absolute;
    right: 15px;

    button {
        margin: 5px;
        margin-bottom: 15px; 
        font-size: 15px;
        line-height: 40px;
    }
}
