.container {
    width: 277px;
    height: 190px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10px;
    position: fixed;
}

p {
    font-weight: bold;
}

form {
    padding: 15px;
    padding-bottom: 0px;
    text-align: center;
}
