.today {
    font-weight: bold;
}

.link-like-text {
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.link-like-text:hover {
    color: rgb(1, 55, 82);
}

.fab-bottom-right {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 100;
}

.card {
    max-width: 660px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;

    @media screen and (max-width: 760px) {
        margin: 15px;
    }
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    @media screen and (min-width: 930px) {
        overflow-x: hidden;
    }
}

.floor-map {
    display: inline-block;
    margin: 15px;
    background-color: #f5f5f5;
    border: 1px solid #afafaf;

    * {
        cursor: pointer;
    }

    .free-table {
        stroke: #afafaf;
        stroke-width: 1;
        fill: white;
    }

    .reserved-table {
        fill: #ffe69e;
        stroke-width: 2;
    }

    .my-table {
        stroke-width: 3px;
        stroke: #5e6885;
    }

    text {
        dominant-baseline: middle;
        text-anchor: middle;
        fill: black;
        font-size: 14px;
    }

    @media screen and (min-width: 930px) { // TODO ezt levinni layoutba
        display: table;
        margin-right: auto;
        margin-left: auto;
    }
}