.container {
    width: 277px;
    height: 298px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10px;
}

form {
    padding: 15px;
    padding-bottom: 0px;
}

.buttons {
    position: relative !important;
    left: 60px !important;
}
